@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --color-primary: hsl(212, 20%, 90%);
    --color-secondary: hsl(212, 51%, 30%);
    --color-sec-med: hsl(212, 28%, 45%);
    --color-sec-low: hsl(212, 22%, 62%);
    --color-card: hsl(240, 27%, 98%);
    --color-red: hsl(0, 40%, 44%);
    --color-green: hsl(133, 40%, 44%);
    --color-cold: #00B2FF;

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;
    --padding-toggle: 0.2rem;

    --card-shadow: 0px 5px 20px var(--color-sec-low);
    --btn-shadow: 0px 1px 3px var(--color-sec-low);
}


*{
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    cursor: default;
}

html{
    font-size: 12px;
    font-size: small;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
    background: var(--color-primary);
}

.container{
    background: var(--color-primary);
    width: 90%;
    margin: 2rem auto;
    padding: 4rem;
    display: grid;
    grid-template-columns: 15rem auto 18rem;
    justify-content: space-between;
    gap: 2rem;
}

.container .uil{
    cursor: pointer;
}

.thin{
    font-weight: 100;
    font-size: small;
}

.dark{
    color: var(--color-secondary);
}

.med{
    color: var(--color-sec-med);
}

.light{
    color: var(--color-sec-low);
}

.bad{
    color: var(--color-red);
}

.good{
    color: var(--color-green);
}

.uil-angle-right-b{
    font-size: 18px;
}

.toggle{
    background: var(--color-sec-med);
    width: fit-content;
    padding: var(--padding-toggle);
    border-radius: 25px;
    box-shadow: var(--btn-shadow);
    display: block;
    cursor: pointer;
}

.toggler{
    background: var(--color-card);
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.card{
    box-shadow: var(--card-shadow);
    transition: all 1000 ease;
}

.card:hover{
    transform: scale(1.05);
}

/* =========== TOP NAV =========== */
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    color: var(--color-sec-med);
    padding: var(--padding-small);
    justify-content: space-around;
    align-items: center;
    background: var(--color-card);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--card-shadow);
    cursor: pointer;
    z-index: 5;
}

nav h3#time {
    margin-left: 5rem;
}

nav h3#date{
    margin-right: 10rem;
    margin-left: 1rem;
}

nav span{
    margin-left: 2rem;
}

nav .user{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

nav .username{
    margin-left: 5px;
}

nav .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* =========== MAIN NAV =========== */
.main_nav{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: auto;
    padding: 0;
}

.main_nav a{
    width: fit-content;
    display: flex;
    gap: 1rem;
    color: var(--color-secondary);
    background: transparent;
    padding: var(--padding-small);
    border-radius: 0 20px 20px 0px;
    align-items: center;
    transition: all 500 ease;
}

.main_nav a:hover{
    transform: translateX(10px);
}

.main_nav i{
    display: inline-block;
    font-size: 24px;
}

.main_nav a.settings{
    margin-top: 5rem;
}

.main_nav a.active{
    color: var(--color-card);
    background: var(--color-secondary);
    box-shadow: var(--btn-shadow);
}

.main_nav a i{
    margin-left: 2rem;
}

.main_nav .theme_mode{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    color: var(--color-primary);
    background: var(--color-secondary);
    border-radius: 10px;
    height: 30px;
}

.main_nav .theme_mode .active{
    background: var(--color-card);
    border-radius: 10px;
    color: var(--color-secondary);
}


/* =========== MAIN =========== */
.main{
    display: flex;
    flex-direction: column;
    position: relative;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: auto;
}

.main .cards .card{
    background: var(--color-card);
    padding: var(--padding-small);
    height: 150px;
    width: 250px;
    border-radius: 1rem;
}

.main .bottom .card{
    background: var(--color-card);
    height: 200px;
    width: auto;
    margin: 3rem 1rem;
    border-radius: 1rem;
}



/* =========== General card =========== */
.main .cards .card{
    display: flex;
    flex-direction: column;
    padding: var(--padding-large);
    align-content: center;
}

.main .cards .card_name{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.main .cards .card_body{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.main .cards .card_name span{
    color: var(--color-sec-low);
    cursor: pointer;
}


/* =========== Weather card =========== */
.main .cards .weather .left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.4rem;
    width: 100%;
}

.main .cards .weather .left h5{
    letter-spacing: 1px;
}

.main .cards .weather .left .min_temp{
    color: var(--color-cold); 
}

.main .cards .weather .left .max_temp{
    color: #FF7A00; 
}

.main .cards .weather .right{
    display: flex;
    margin-right: -2rem;
    margin-top: 0;
    position: relative;
    justify-content: center;
    /* align-items: center; */
}

.main .cards .weather .right img{
    position: absolute;
    width: 80%;
    right: 3rem;
}


/* =========== Temperature card =========== */

.main .cards .temperature .card_body{
    flex-direction: column;
}

.main .cards .temperature .card_body .top{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.main .cards .temperature .card_body .top .snow{
    font-size: 50px;
    color: var(--color-cold);
}

.main .cards .temperature .card_body .top span{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.main .cards .temperature .card_body h2{
    font-size: 2.5rem;
    margin: 0 -2rem;
}

.main .cards .temperature .card_body .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.main .cards .temperature .card_body .toggle{
    width: 3rem;
}

/* =========== WIFI card =========== */
.main .cards .wifi .card_body{
    flex-direction: column;
    gap: 0;
    margin: 0;
    justify-content: space-around;
}


.main .cards .wifi .card_body .top{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 0;
    padding: 0;
    gap: 1rem;
    margin: 1rem 0;
}

.main .cards .wifi .card_body .bottom{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    gap: rem;
}

/* =========== Electricity card =========== */
.main .cards .electricity .card_body{
    display: flex;
    flex-direction: column;
}

.main .cards .electricity .card_body .top{
    background: var(--color-primary);
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 6px;
}
.main .cards .electricity .card_body .toggle_big{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 50%;
    background: var(--color-sec-low);
    height: 2rem;
    border-radius: 6px;
}

.main .cards .electricity .card_body .bottom{
    margin-top: 1rem;
    gap: 0;
    padding: var(--padding-small);
    align-items: baseline;
    justify-content: first baseline;
}
.main .cards .electricity .card_body h3{
    align-self: center;
    margin-left: 1rem;
    font-size: 13px;
}

.main .cards .electricity .card_body .toggle_big h3{
    margin: 5%;
    margin-left: 35%;
}

.main .cards .electricity .card_body .bottom{
    align-self: center;
}

.main .movies {
    margin: 4rem 0rem;
    padding: 0rem;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.main .movies:hover{
    transform: none;
}

.main .movies img{
    height: 100%;
    width: 100%;
    filter: blur(2px);
}

.main .movies .movie_desc{
    color: white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: var(--padding-large);
    margin: 1rem 0;
    line-height: 1.6rem;
    align-content: center;
    text-align: justify;
    position: absolute;
    z-index: 2;
}

.main .movies .movie_desc .movie_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .movies .movie_desc .movie_title .stars{
    margin-right: -5rem;
}

.main .movies .movie_desc .movie_title .stars span{
    margin-right: -0.5rem;
}

.main .movies .movie_desc .button{
    background: var(--color-card);
    display: block;
    width: 8rem;
    text-align: center;
    padding: var(--padding-small);
    color: var(--color-sec-med);
    border-radius: 10px;
}

/* =========== Right =========== */
.right{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;  
}

.right .card{
    background: var(--color-card);
    padding: var(--padding-large);
    height: auto;
    width: 100%;
    border-radius: 1rem;
    display: flex;
}

.right .card_name{
    display: flex;
    justify-content: space-between;
}

/* =========== Right Notification =========== */
.right .notification{
    flex-direction: column;
    gap: 2rem;
}

.right .card_body ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right .card_body .notif li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right .card_body .notif li h4{
    margin: 0.5rem auto;
}


.right .card_body .notif li .bullet{
    content: "";
    width: 10px;
    height: 10px;
    aspect-ratio: 1/1;
    background: var(--color-green);
    border-radius: 50%;
    margin-top: -1rem;
}
.right .card_body .notif li .red{
    background: var(--color-red);
}


.right .quick_panel{
    flex-direction: column;
}

.right .quick_panel .card_body{
    display: flex;
    flex-direction: column;
}

.right .quick_panel .card_body > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.right .quick_panel .card_body .toggle{
    width: 25%;
}

.right .quick_panel .card_body h4{
    position: absolute;
    margin-left: 3rem;
}

.right .quick_panel i{
    font-size: 24px;
    color: var(--color-secondary);
}

@media screen and (max-width: 1200px) {
    
    .container nav .customise{
        display: none;
    }

    .container{
        grid-template-columns: 8rem auto 18rem;
        width: 100%;
    }

    .main_nav a h3{
        display: none;
    }

    .main .cards{
        gap: 2rem;
    }

    .main .movies{
        margin: 2rem auto;
    }

    .right .card{
        width: 90%;
        min-width: 200px;
    }
    
}

@media screen and (max-width: 960px) {
    .container{
        grid-template-columns: auto 18rem;
        position: relative;
        gap: 1rem;
    }

    .main_nav{
        margin-left: -10rem;
        z-index: 5;
        position: fixed;
        background: var(--color-card);
        box-shadow: var(--card-shadow);
        padding: 1rem;
        border-radius: 20px;
    }

    .main_nav:hover{
        margin-left: -6rem;
    }

    .main .movies{
        margin: 1rem auto;
    }

    .main .cards{
        gap: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .right{
        flex-direction: row;
    }

    .main_nav{
        position: fixed;
        margin-left: -5.5rem;
    }

    .main_nav:hover{
        margin-left: -5.5rem;
    }

    .main .cards{
        margin-left: 7rem;
    }

    .main .movies{
        margin-left: 7rem;
        width: auto;
        display: inline-block;
    }

    .right{
        margin-left: 7rem;
        width: auto;
    }

    @media screen and (max-width: 700px){
        .container{
            display: flex;
            flex-direction: column;
        }

        .main .cards{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
        }

        .main .cards .card{
            width: auto;
        }

        .right{
            display: flex;
            flex-direction: column;
        }

        .right .card{
            width: auto;
        }
    }

}